PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/tebeya_services
JWT_SECRET=supersecret_jwt_key_change_in_production
JWT_REFRESH_SECRET=supersecret_refresh_key_change_in_production
CORS_ORIGIN=http://localhost:5173
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
